body
{
    margin: 0;
    padding: 0;
}
section
{
    height: 110vh;
    background: #dddddd;
}
video
{
    object-fit: cover;
}
h1
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color:#800080;
    font-size: 5em;
    font-style: italic;
    font-optical-sizing: 12;
    font-family: fantasy;
    letter-spacing: 0.1em;
}
Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
h1 span
{
    display: inline-block;
    filter: blur();
    animation: animate 1s linear forwards;
}
@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%
    {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
      
}
h1 span:nth-child(1)
{
    animation-delay: 9s;
}
h1 span:nth-child(2)
{
    animation-delay: 9.25s;
}
h1 span:nth-child(3)
{
    animation-delay: 9.5s;
}
h1 span:nth-child(4)
{
    animation-delay: 10s;
}
h1 span:nth-child(5)
{
    animation-delay: 10.25s;
}
h1 span:nth-child(6)
{
    animation-delay: 10.5s;
}
h1 span:nth-child(7)
{
    animation-delay: 10.75s;
}
h1 span:nth-child(8)
{
    animation-delay: 11s;
}
h1 span:nth-child(9)
{
    animation-delay: 11.25s;
}
h1 span:nth-child(10)
{
    animation-delay: 11.5s;
}
